
:root {
  --basic-white: #F2F2F2;
  --basic-grey: #EEEEEE;
  --basic-grey-dark: #D5D5D5;
  --basic-neutral: #DFDFDF;
  --basic-red: #FB565A;
  --basic-black: #000000;
  --basic-grey-text: #283136;
  --basic-extra-white: #FFFFFF;
  --special: #D7373B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
  }

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.button {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  text-align: center;
  align-items: center;
  color: var(--basic-extra-white);
  text-transform: uppercase;
  vertical-align: middle;
  background-color: var(--basic-red);
  border-radius: 3px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 160px;
}

.button:hover,
.button:focus {
  background-color: #E74246;
}

.button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  color: rgba(255,255,255,0.3);
}

.button.disabled,
.button:disabled {
  cursor: default;
  background-color: var(--);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.inner-page.main-header {
  background-color: var(--basic-grey);
}

.main-header {
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  padding-top: 49px;
}

.user-navigation {
max-width: 140px;
}

.user-navigation .basket {
  padding-left: 25px;
}

.sliders {
  background-color: var(--basic-grey);
  margin: 0;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-left-text {
  width: 400px;
  height: 431px;
  justify-content: center;
}

.slider-item {
  display: none;

}

.slider-item.active {
  display: block;
}

.button-slider {
width: 240px;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #E74246;
}

.button-slider:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255,255,255,0.3);
}

.slider-text {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  width: 400px;
  margin top: 83px;
  margin-bottom: 25px;

}

.page-caption {
  background-color: var(--basic-grey);
  margin: 0;
  height: 241px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  margin-right: 44px;

}

.menu li :last-child {
  margin-right: 0;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 21px;
}

.container.sliders {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 160px;
  line-height: 0;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

}

.menu-current a:not([href]) {
  background-color: var(--basic-black);
}

.menu a {
  color: var(--basic-black);
  display: block;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
}

.user-navigation a {
  color: var(--basic-black);
  display: block;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
  position: relative;
}

.user-navigation ::before {
  position: absolute;
  left: 25px;
  top: 82px;
  width: 15px;
  height: 15px;
  background-image: image(img/cart-icon.svg);
}

.menu a:hover,
.menu a:focus,
.basket:hover,
.basket:focus {
  color: var(--special);
}

.features {
  margin-bottom: 121px;
  margin-top: 80px
  background-image: url(img/line.png);
  background-position: bottom;

}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  padding: 0;
  margin-right: 58px;
}

.feature-item {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey-text);
}

.features-text {
  margin: 0;
  margin-bottom: 38px;
  color: #283136;
}

.features-name {
  padding-top: 25px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  background-image: image(img/line.png);
  background-position: bottom;
}

.index-columns .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 21px;
}


.button-form.button {
  width: 260px;
  height: 50px;
  border: none;
}

.button-contacts.button {
  width: 219px;

}

.button.button-green {
  background-color: #00CA74;
}

.button.button-green:hover,
.button.button-green:focus {
  background-color: #00BC6C;
}

.button.button-green:active {
  background-color: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
}

.button-yellow.button {
  background-color: #EFC849;
}

.button-yellow.button:hover,
.button-yellow.button:focus {
  background-color: #EAB534;
}

.button-yellow.button:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-close {
  width: 21px;
  height: 21px;
}

.partners {
  display: flex;
  justify-content: space-between;
  padding-right: 43px;
  padding-left: 32px;
  background-image: image(img/line.png);
  background-position: bottom;
}

.page-footer {
  color: var(--basic-black);
  margin-top: 80px;
}

.footer-social {
  margin-top: 68px;
}

.footer-social .container {
  display: flex;
  justify-content: space-between;
}

.footer-list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text2 {
  margin-bottom: 74px;
}

.social-button {
  color: inherit;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  width: 81px;
  height: 81px;
  font-size: 0;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
  margin-bottom: 68px;
}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.studio {

}

.studio-heading {
  margin: 0;
  margin-bottom: 73px;
  font-size: 45px;
  line-height: 45px;
}

.studio-text {
  color: #283136;
}

.studio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.studio-item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
  color: #283136;

}

.studio-item::after {
  content:"";
  position: absolute;
  left: 0;
  top: 11px;
  width: 25px;
  height: 2px;
  background: #FB565A;
}

.studio-numeral {
  width: 360px;
}

.benefit {
  font-weight: bold;
  text-transform: uppercase;
}

.benefit-numeral {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.benefit-text {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.modal {
  border: 1px solid black;
  width: 960px;
  height: ;
  margin-left: 240px;
  padding: 63px 100px 84px;
}

.modal-name {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 37px;
}

.modal-text {
  margin: 0;
  font-weight: bold;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.modal-text-half {
  margin: 0;
  margin-bottom: 34px;
  width: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.modal-text:first-child {
  padding-right: 20px;
}

.modal-text:nth-child(2) {
  padding-left: 20px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  width: ;
  height: ;
}

.form-name {
display: block;

}

.text-user {
  color: #444444;
  opacity: 0.5;
  width: 100%;
  height: 50px;
  display: block;

}



.text-user-comment {
  color: #444444;
  opacity: 0.5;
  font-family: inherit;
  height: 118px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 47px;
}

.sorting-list {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.sorting-mini-list{
  list-style: none;
}

.sorting-mini-list::after {
  content: "";
  position: absolute;

}

.sorting-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  color: #4D4D4D;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: #4D4D4D;
}

.sorting {
  list-style: none;
}

.catalog {
  width: 760px;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.catalog-item a {

}

.catalog-category {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-text {
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  background-color: #EEEEEE;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #DFDFDF;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

.contact-name {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts {
  background-image: url(img/map1.png);
}

.contact-tel {
  margin-bottom: 37px;
}

.contacts-text {
  border: 1px solid black;
  width: 319px;
  margin-left: 140px;
  padding: 49px 50px 47px;


}

.contact-address {
  color: #666666;
}

.footer-text1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.footer-text2 {
  line-height: 22px;
  color: #444444;
}

.partners-item {
  opacity: 0.2;
  display: inline-block;
}

.partners-item:hover,
.partners-item:focus {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}

.filters {
  width: 280px;
  margin-left: 140px;
  height: 900px;
  margin-top: 55px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;

}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
