
:root {
  --basic-white: #F2F2F2;
  --basic-grey: #EEEEEE;
  --basic-grey-dark: #D5D5D5;
  --basic-neutral: #DFDFDF;
  --basic-red: #FB565A;
  --basic-black: #000000;
  --basic-grey-text: #283136;
  --basic-extra-white: #FFFFFF;
  --special: #D7373B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.inner-page.main-header {
  background-color: var(--basic-grey);
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  margin-bottom: 9px;
}

.user-navigation {
max-width: 140px;
}

.user-navigation .basket {
  padding-left: 25px;
}

.sliders {
  background-color: var(--basic-grey);
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.button-slider {
padding-bottom: 15px;
padding-top: 17px;
padding-left: 54px;
padding-right: 54px;
display: inline-block;
text-align: center;
align-items: center;
color: var(--basic-extra-white);
text-transform: uppercase;
vertical-align: middle;
background-color: var(--basic-red);
border-radius: 3px;
font-family: Roboto;
font-size: 16px;
line-height: 18px;
font-weight: 500;
width: 240px;
height: 50px;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #E74246;
}

.button-slider:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-text {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  width: 400px;
  margin: 0;
}

.slider-texts{
  width: 760px;
  height: 400px;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
}

.menu {
  list-style: none;
  margin-bottom: 9px;
  width: 438px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-navigation .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 21px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 21px;
}

.container-features{
  width: 1100px;
  margin-left: 140px;
  margin-right: 200px;
  padding: 0 21px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-top: 50px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;

}

.menu-current a:not([href]) {
  background-color: var(--basic-black);
}

.menu a {
  color: var(--basic-black);
  display: block;
  padding: 75px 9px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
}

.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 75px 9px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
}

.menu a:hover,
.menu a:focus,
.basket:hover,
.basket:focus {
  color: var(--special);
}

.features {
margin-bottom: 121px;
margin-top: 80px
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding: 0;
  margin: 0;
}

.feature-item {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-grey-text);
}

.features-text {
  padding-bottom: 32px;
  margin: 0;
  color: #283136;
}

.features-name {
  padding-top: 25px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}

.index-columns .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 21px;
}

.button {
  padding-bottom: 15px;
  padding-top: 17px;
  padding-left: 39px;
  padding-right: 40px;
  display: inline-block;
  text-align: center;
  align-items: center;
  color: var(--basic-extra-white);
  text-transform: uppercase;
  vertical-align: middle;
  background-color: var(--basic-red);
  border-radius: 3px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 160px;
  height: 50px;
  min-width: 160px;
  max-width: 260px;
}

.button:hover,
.button:focus {
  background-color: #E74246;
}

.button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  color: #FFFFFF;
}

.button.disabled,
.button:disabled {
  cursor: default;
  background-color: var(--);
}

.button-form .button {
  width: 260px;
  height: 50px;
  margin-top: 47px;
  margin-bottom: 84px;  
}

.button-contacts .button {
  width: 219px;
  height: 50px;
  margin-top: 37px;
  margin-bottom: 47px;
  padding-left: 44px;
  padding-top: 17px;
}

.button.button-green {
  background-color: #00CA74;
}

.button.button-green:hover,
.button.button-green:focus {
  background-color: #00BC6C;
}

.button.button-green:active {
  background-color: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button-yellow.button {
  background-color: #EFC849;
}

.button-yellow.button:hover,
.button-yellow.button:focus {
  background-color: #EAB534;
}

.button-yellow.button:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

  opacity: 0.3;
}

.button-close {
  width: 21px;
  height: 21px;
}

.partners {
  display: flex;
  justify-content: space-between;
  padding-right: 43px;
  padding-left: 32px;
}

.page-footer {
  color: var(--basic-black);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer img {
  width: 100%;
  margin-bottom: 68px;
  margin-top: 80px;
}

.footer-social .container {
  display: flex;
  justify-content: space-between;
}

.footer-list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.social-button {
  color: inherit;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  width: 81px;
  height: 81px;
  font-size: 0;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.studio {

}

.studio-heading {
  margin: 0;
  margin-bottom: 73px;
  font-size: 45px;
  line-height: 45px;
}

.studio-text {
  color: #283136;
}

.studio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.studio-item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
  color: #283136;

}

.studio-item::after {
  content:"";
  position: absolute;
  left: 0;
  top: 11px;
  width: 25px;
  height: 2px;
  background: #FB565A;
}

.studio-numeral {
  width: 360px;
}

.benefit {
  font-weight: bold;
  text-transform: uppercase;
}

.benefit-numeral {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.benefit-text {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.modal-name {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal-text {
  font-weight: bold;
}

.text-user {
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 360px;
  height: 50px;
}

.text-user-comment {
  color: #444444;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 760px;
  height: 118px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.sorting-list {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  color: #4D4D4D;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: #4D4D4D;
}

.sorting {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background: #FFFFFF;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.catalog-item a {

}

.catalog-category {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item-text {
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  background-color: #EEEEEE;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #DFDFDF;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

.contact-name {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.contact-address {
  color: #666666;
}

.footer-text1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.footer-text2 {
  line-height: 22px;
  color: #444444;
}

.partners-item {
  opacity: 0.2;
  display: inline-block;
}

.partners-item:hover,
.partners-item:focus {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}
