
:root {
  --basic-white: #F2F2F2;
  --basic-gray: #EEEEEE;
  --basic-gray-dark: #D5D5D5;
  --basic-neutral: #DFDFDF;
  --basic-red: #FB565A;
  --basic-black: #000000;
  --basic-gray-text: #283136;
  --basic-extra-white: #FFFFFF;
  --special: #D7373B;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page-body {
  background-color: var(--basic-white);
}
.inner-page .main-header {
  background-color: var(--basic-gray);
}
.main-header {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-grey);
}
.page-title {
  font-size: 55px;
  line-height: 55px;
}
.menu {
  list-style: none;
}

.menu-current a:not([href]) {
  background-color: var(--basic-black);
}

.menu a {
  color: var(--basic-black);
}

.menu a:hover,
.menu a:focus,
.basket a:hover,
.basket a:focus {
  color: var(--special);
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-gray-text);
}

.features-name {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.button {
  text-align: center;
  color: var(--basic-extra-white);
  text-transform: uppercase;
  vertical-align: middle;
  background-color: var(--basic-red);
  border-radius: 3px;
  font-size: ;
  line-height: ;
  font-style: normal;
  font-weight: 500;
  width: 160px;
  height: 50px;
}
.button:hover,
.button:focus,
.button:active {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  cursor: default;
  background-color: var(--);
}
.page-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special);
}
